<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ block('title') }} - The Users </title>
	<style>

		main {
			max-width: 800px;
			margin: 0 auto;
		}

		label {
			display: block;
			margin: 1em 0;
		}

		form {
			margin: 1em 0;
		}
		
	</style>
</head>
<body>
	<main>
		
		<h1><a href="/">Welcome to The Users webapp</a></h1>
		{{ block('content') }}

	</main>

		{{ block('javascript') }}

</body>
</html>