<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ block('title') }} - The Users </title>
	<style>
		main {
			max-width: 800px;
			margin: 0 auto;
		}
	</style>
</head>
<body>
	<main>
		
		<h1>Welcome to The Users webapp</h1>
		{{ block('content') }}

	</main>
</body>
</html>