{% extends "layout.html.twig" %}

{% block title %} New user! {% endblock %}

{% block content %}
	<form action='/success' method="POST">
	<label>
		First name
		<br>
		<input type="text" name="firstName">
	</label>
	<br>
	<label>
		Last name
		<br>
		<input type="text" name="lastName">
	</label>
	<br>
	<label>
		Bio
		<br>
		<textarea name="bio" id="" cols="30" rows="10"></textarea>
	</label>
	<br>
	<label>
		Age
		<input name="age" type="range" min="18" max="60">
	</label>
	<br>
	<input type="submit" value="Add the user">
	</form>

	<form action='/success?random=1' method="POST">
		<input type="submit" value="Or add a completely random user.">
	</form>

	<p><a href='/'>Cancel</a></p>



{% endblock %}