{% extends "layout.html.twig" %}

{% block title %}{{ user.fullName }} added{% endblock %}
{% block title %}Success {{ action }}{% endblock %}

{% block content %}
	<h2><a href="user/{{ user.id }}">{{ user.fullName }}</a> successfully added</h2>
	
	<p><a href='/new'>Add next</a> or <a href='/'>return</a></p>
{% endblock %}