{% extends "layout.html.twig" %}

{% block title %}{{ user.fullName }}{% endblock %}

{% block content %}
	<h2>{{ user.fullName }}</h2>
	<p>{{ user.bio }}</p>
	
	<p><a href='/'>Return</a></p>

{% endblock %}